controller:
  replicas: 3
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 250m
      memory: 512Mi
notifier:
  enabled: true
  replicas: 2
monitoring:
  enabled: true
  scrapeInterval: 15s
