name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Verify formatting
        run: |
          gofmt -w $(find . -name '*.go' -not -path './vendor/*')
          git diff --exit-code
      - name: Go test
        run: go test ./...
